body{
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}

h1{
    background-color: #FEF400;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    padding: 2px;
}

.subti1{
    background-color:lavender;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
    padding: 2px;
}


.subti2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #000000;
}